.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}
.hero {
    display: block;
}
.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media only screen and (max-width: 60rem) {


  
    .hero-container {
        width: 100%;
        overflow-x: hidden;
    }

    .hero-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}